.Home {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em;
}

.searchbar {
    display: block;
    width: 400px;
    padding: 0.5em 0.75em;
    margin: 1rem auto;
    font-size: 1.25rem;
    background-color: #282828;
    border: solid 1px #424242;
    border-radius: 1em;
}

.cards {
    display: grid;
    margin: 2rem auto;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
}

.cards > div h2 {
    font-size: 1.35rem;
    font-family: 'Noto Serif', serif;
}

.cards > div h2 a {
    font-family: 'Noto Serif', serif;
}

.cards > div h3 {
    font-size: 1rem;
    align-self: flex-end;
    color: #ab9e0b;
    font-family: 'Noto Serif', serif;
}

.cards > div p:last-child {
    font-size: 1rem;
    align-self: flex-end;
    color: #ab9e0b;
}