.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
}

.searchbar {
    max-width: 400px;
    padding: 0.25rem 0.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    background-color: #282828;
    border: solid 1px #424242;
    border-radius: 7px;
}

.searchbar-hint {
    padding: 0.25rem 0.625rem;
    margin-right: 8px;
    font-size: 1.25rem;
    color: #707070;
    border: solid 1px #424242;
    border-radius: 7px;
    cursor: default;
    user-select: none;
}

.searchbar__input {
    padding: 0.5em 0.5em;
    font-size: 1.1rem;
    background-color: #282828;
    border: none;
}

.searchbar__input:focus {
    outline: 1px solid #1d5994;
    border-radius: 7px;
}

.page-title {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Noto Serif', serif;
    font-size: 3rem;
}

.cards {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    gap: 1.5em;
}

.cards > div h2 {
    font-size: 1.28rem;
    font-family: 'Noto Serif', serif;
}

.cards > div h2 a {
    font-family: 'Noto Serif', serif;
}

.cards > div h3 {
    font-size: 1.14rem;
    align-self: flex-end;
    font-family: 'Noto Serif', serif;
}

.cards > div p:last-child {
    align-self: flex-end;
}

.to-page-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0.15rem 0.75rem;
    font-size: 1.25rem;
    border: 1px solid #5a97d5;
    border-radius: 7px;
}

.to-page-top:hover {
    border-color: #1d5994;
}

@media (min-width: 900px) {
    .cards {
        display: grid;
        margin: 1rem auto;
        grid-template-columns: 1fr 1fr;
        gap: 1.5em;
    }
}