.JobCardBySkill, .JobCardByCompany {
    padding: 1.25rem 1rem;
    width: 35rem;
    min-height: 16rem;
    display: grid;
    /* background-color: rgba(91, 91, 91, 0.35); */
    background-color: #353539;
    border-radius: 1em;
}