@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif:wght@700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  color: #dddddd;
}

body {
  background-color: #191919;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #5a97d5;
}

a:hover {
  color: #1d5994;
}

::-webkit-scrollbar {
  width: 14px;
  background-color: #202020;
}

::-webkit-scrollbar-thumb {
  background-color: #334a61;
  
}::-webkit-scrollbar-thumb:hover {
  background-color: #334a6180;
}